@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}

.my-shadow {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
}

.text-3d-light {
  text-shadow: 1px 1px 1px #324027,
      1px 2px 1px #324027,
      1px 3px 1px #324027,
      1px 4px 1px #324027,
      1px 5px 1px #324027,
  1px 8px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 0px 60px rgba(16,16,16,0.4);
}

.text-3d-dark {
  text-shadow: 1px 1px 1px #475c22,
      1px 2px 1px #475c22,
      1px 3px 1px #475c22,
      1px 4px 1px #475c22,
      1px 5px 1px #475c22,
  1px 8px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 0px 60px rgba(16,16,16,0.4);
}

@media (max-width: 768px) {
  [style*="--mobile-image"] {
    background-image: var(--mobile-image) !important;
    background-position: var(--mobile-position) !important;
  }
}

.video-wrapper {
  background: black;
  position: relative;
  overflow: hidden;
}

.video-wrapper iframe {
  opacity: 0;
  transition: opacity 0.1s;
}

.video-wrapper iframe.loaded {
  opacity: 1;
}